doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title iCrux

        link(rel='stylesheet', href='/css/dashboard.css')
        link(rel='stylesheet', href='/css/weather.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
        link(rel='stylesheet', href='https://unpkg.com/leaflet/dist/leaflet.css')
        link(rel='icon', type='image/png', sizes='32x32', href='/img/icruxlogo.png')

        meta(name='theme-color', content='#4657bb')
        meta(property='og:title', content=ogTitle)
        meta(property='og:description', content=ogDescription)
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://dash.icrux.net/')
        meta(property='og:site_name', content='dash.icrux.net')

        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous', defer)
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous', defer)
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous', defer)

        script(src="/js/index.js")
    body
        header
            .left 
                .button 
                    a.logout(href='/logout') <i class="fas fa-times"></i>
                    a.close(href='javascript:void(0)', onclick='backGUI()') <i class="fas fa-minus"></i>
                    a.minimalize(href='/') <i class="fas fa-compress-alt"></i>
                .displaynone
                    p #{(user.storageUsed / (1024 * 1024 * 1024)).toFixed(2)} GB / #{(user.storageLimit / (1024 * 1024 * 1024)).toFixed(2)} GB
                .displaymobile
                    p #{(user.storageUsed / (1024 * 1024 * 1024)).toFixed(2)} GB
            .center 
                .background
                    .background-radius
            .right
                .email
                    img(src='/img/user.png')
                    .displaymobile-email
                        p #{user.email}
                    .displaynone
                        p #{user.email}
                .right-left 
                    .ping
                        p#ping 
                    .times
                        span#time 
                        span#date
        .desktop#desktop(style='opacity: 1; visibility: visible; transition: opacity 1s ease-in-out, visibility 1s ease-in-out;')
            .content-desktop
                .content-desktop-dark
                    .up-desktop 
                        .up-desktop-left
                        .up-desktop-right
                            h1 Your Stats
                            h2 • Your plan: #{user.plan}
                            h2 • Your server: #{user.server}
                            h2 • Disk space usage: #{(user.storageUsed / (1024 * 1024 * 1024)).toFixed(2)} GB / #{(user.storageLimit / (1024 * 1024 * 1024)).toFixed(2)} GB
                            .flex-wrapper
                                .single-chart
                                    svg(viewBox="0 0 36 36", class="circular-chart orange")
                                        path.circle-bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        path.circle(stroke-dasharray="0, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        text.percentage(x="18", y="20.35") 0%
                    .down-desktop
                        .menu
                            img(src='/img/icruxlogo.png', onclick='showMenu()')
                            img(src='/img/files.png')
                            img(src='/img/calendar.png')
                            img(src='/img/mail.png')
                            img(src='/img/notes.png')
                            img(src='/img/reminders.png')
                            img(src='/img/contacts.png')
        .overview#overview(style='opacity: 0; visibility: hidden; transition: opacity 1s ease-in-out, visibility 1s ease-in-out;')
            .content-overview
                .up 
                    .title 
                        h1 Overview
                        span Version 1.0.1-alpha 
                    .display-up
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/my-shortcuts.png', width='100px', height='100px')
                                    p AI
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/calculator.png', width='100px', height='100px')
                                    p Calculator
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/calendar.png', width='100px', height='100px')
                                    p Calendar
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/clock.png', width='100px', height='100px')
                                    p Clock
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/contacts.png', width='100px', height='100px')
                                    p Contacts
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/files.png', width='100px', height='100px')
                                    p Files
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/home.png', width='100px', height='100px')
                                    p Home
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/plus.png', width='100px', height='100px')
                                    p Join to iCrux+
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/notes.png', width='100px', height='100px')
                                    p Notes
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/photos.png', width='100px', height='100px')
                                    p Photos
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/reminders.png', width='100px', height='100px')
                                    p Reminders
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/settings.png', width='100px', height='100px')
                                    p Settings
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/news.png', width='100px', height='100px')
                                    p Tips and guides
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/translate.png', width='100px', height='100px')
                                    p Translate
                        .img
                            .display-img
                                a(href='/')
                                    img(src='/img/wallet.png', width='100px', height='100px')
                                    p Wallet
                        .img
                            .display-img
                                a(href='javascript:void(0)', onclick='showWeather()')
                                    img(src='/img/weather.png', width='100px', height='100px')
                                    p Weather
                .down
                    .menu
                        img(src='/img/icruxlogo.png', onclick='showMenu()')
                        img(src='/img/files.png')
                        img(src='/img/calendar.png')
                        img(src='/img/mail.png')
                        img(src='/img/notes.png')
                        img(src='/img/reminders.png')
                        img(src='/img/contacts.png')
        .weather#weather(style='opacity: 0; visibility: hidden; transition: opacity 1s ease-in-out, visibility 1s ease-in-out;')
            .content-weather
                .content-weather-dark
                    .up-weather
                        .box-weather
                            .menu-up
                                .button 
                                    a.logout(href='javascript:void(0)', onclick='backGUI()') <i class="fas fa-times"></i>
                                    a.close(href='javascript:void(0)', onclick='showWeather()') <i class="fas fa-minus"></i>
                                    a.minimalize(href='/') <i class="fas fa-compress-alt"></i>
                                .display-name 
                                    p Weather
                            .menu-down
                                .menu-display 
                                    .weather-left 
                                        each item in cities 
                                            .weather-box(onclick='showCities(' + item + ')' style='cursor: pointer;') 
                                                p #{item}
                                    .weather-right
                                        p test
                    .down-weather
                        .menu
                            img(src='/img/icruxlogo.png', onclick='showWeather()')
                            img(src='/img/files.png')
                            img(src='/img/calendar.png')
                            img(src='/img/mail.png')
                            img(src='/img/notes.png')
                            img(src='/img/reminders.png')
                            img(src='/img/contacts.png')
    script.
        document.addEventListener('DOMContentLoaded', function() {
            synchronizer();
        });

        function getCookie(name) {
            var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) return match[2];
            return null;
        }

        function synchronizer() {
            var menus = document.getElementById('overview');
            var desktops = document.getElementById('desktop');
            var weathers = document.getElementById('weather');

            var desktop = getCookie('desktop');
            var overview = getCookie('overview');
            var weather = getCookie('weather');

            if (desktop === "true") {
                menus.style.opacity = 0;
                menus.style.visibility = 'hidden';
                weathers.style.opacity = 0;
                weathers.style.visibility = 'hidden';
                desktops.style.opacity = 1;
                desktops.style.visibility = 'visible';
            } 
            
            if (overview === "true")  {
                desktops.style.opacity = 0;
                desktops.style.visibility = 'hidden';
                menus.style.opacity = 1;
                menus.style.visibility = 'visible';
                weathers.style.opacity = 0;
                weathers.style.visibility = 'hidden';
            }

            if (weather === "true")  {
                desktops.style.opacity = 0;
                desktops.style.visibility = 'hidden';
                menus.style.opacity = 0;
                menus.style.visibility = 'hidden';
                weathers.style.opacity = 1;
                weathers.style.visibility = 'visible';
            }
        }

        function backGUI() {
            var menu = document.getElementById('overview');
            var desktop = document.getElementById('desktop');
            var weather = document.getElementById('weather');

            if (desktop.style.opacity == 1) {
                menu.style.opacity = 0;
                menu.style.visibility = 'hidden';
                weather.style.opacity = 0;
                weather.style.visibility = 'hidden';
                desktop.style.opacity = 1;
                desktop.style.visibility = 'visible';

                document.cookie = "desktop=true; path=/";
                document.cookie = "weather=false; path=/";
                document.cookie = "overview=false; path=/";
            } else {
                desktop.style.opacity = 1;
                desktop.style.visibility = 'visible';
                menu.style.opacity = 0;
                menu.style.visibility = 'hidden';
                weather.style.opacity = 0;
                weather.style.visibility = 'hidden';

                document.cookie = "desktop=true; path=/";
                document.cookie = "weather=false; path=/";
                document.cookie = "overview=false; path=/";
            }
        }

        function showMenu() {
            var menu = document.getElementById('overview');
            var desktop = document.getElementById('desktop');

            if (desktop.style.opacity == 1) {
                menu.style.opacity = 1;
                menu.style.visibility = 'visible';
                desktop.style.opacity = 0;
                desktop.style.visibility = 'hidden';

                document.cookie = "desktop=false; path=/";
                document.cookie = "weather=false; path=/";
                document.cookie = "overview=true; path=/";
            } else {
                desktop.style.opacity = 1;
                desktop.style.visibility = 'visible';
                menu.style.opacity = 0;
                menu.style.visibility = 'hidden';

                document.cookie = "desktop=true; path=/";
                document.cookie = "weather=false; path=/";
                document.cookie = "overview=false; path=/";
            }
        }

        function showWeather() {
            var menu = document.getElementById('overview');
            var weather = document.getElementById('weather');

            if (weather.style.opacity == 1) {
                menu.style.opacity = 1;
                menu.style.visibility = 'visible';
                weather.style.opacity = 0;
                weather.style.visibility = 'hidden';

                document.cookie = "desktop=false; path=/";
                document.cookie = "weather=false; path=/";
                document.cookie = "overview=true; path=/";
            } else {
                weather.style.opacity = 1;
                weather.style.visibility = 'visible';
                menu.style.opacity = 0;
                menu.style.visibility = 'hidden';

                document.cookie = "desktop=false; path=/";
                document.cookie = "weather=true; path=/";
                document.cookie = "overview=false; path=/";
            }
        }

        const circle = document.querySelector('.circle');
        const text = document.querySelector('.percentage');

        const user = {
            storageUsed: #{user.storageUsed},
            storageLimit: #{user.storageLimit}
        };

        const usedPercentage = (user.storageUsed / user.storageLimit * 100).toFixed(2);

        const circumference = 2 * Math.PI * 15.9155;

        const strokeDashValue = `${(usedPercentage / 100) * circumference}, ${circumference}`;

        circle.style.strokeDasharray = strokeDashValue;
        text.textContent = `${usedPercentage}%`;

        $(document).ready(function() {
            const protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
            const socket = new WebSocket(`${protocol}://${window.location.host}`);
            socket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (data.ping) {
                    $('#ping').text(`${data.ping}ms`);
                } else if (data.error) {
                    $('#ping').text(`${data.error}`);
                }
            };
        });