doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title #{__('web_title_register')}

        link(rel='stylesheet', href='/css/login.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
        link(rel='stylesheet', href='https://unpkg.com/leaflet/dist/leaflet.css')
        link(rel='icon', type='image/png', sizes='32x32', href='/img/icruxlogo.png')

        meta(name='theme-color', content='#4657bb')
        meta(property='og:title', content=ogTitle)
        meta(property='og:description', content=ogDescription)
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://dash.icrux.net/register')
        meta(property='og:site_name', content='dash.icrux.net')

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous', defer)
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous', defer)
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous', defer)
    body
        .login-form
            form.user-form(action='/register', method='POST')
                .formater
                    .logo
                        img(src='/img/icruxlogo.png', alt='iCrux.net')
                    .title
                        | #{__('register_title')}
                    label(for="")
                        input.margin(type='text', name='email', placeholder=__('register_email'))
                    label(for="")
                        input.margin(type='password', name='password', placeholder=__('register_password'))
                    .text-right 
                        a(href="https://discord.gg/krf2n9PrdV") #{__('register_support')}
                    .buttons
                        button(type='submit') #{__('register_button')}
            .newuser
                .formater-newuser
                    p #{__('register_have_account')}
                    span 
                        a(href="/login") #{__('register_sign_in')}
            .copyright 
                p © 2024 iCrux.net. All rights reserved.