<div class="firewall-container">
    <div class="firewall-header">
        <button id="add-firewall-btn">Add a new firewall</button>
    </div>

    <div class="firewall-list" style="width: 100%; overflow-x: auto;">
        <table>
            <thead>
                <tr>
                    <th style="display: flex; justify-content: center;">On</th>
                    <th>Type</th>
                    <th>IP</th>
                    <th>Direction</th>
                    <th>Protocol</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="firewall-table-body">
                <% firewalls.forEach(firewall => { %>
                    <tr data-id="<%= firewall.id %>">
                        <td style="display: flex; justify-content: center;">
                            <% if (firewall.on === 'on') {%>
                                <i class="fas fa-check-circle" style="color: #87ff77;"></i>
                            <% } else { %>
                                <i class="fas fa-times-circle" style="color: #ff7777;"></i>
                            <% } %>
                        </td>
                        <td><%= firewall.type %></td>
                        <td><%= firewall.interfaces %></td>
                        <td><%= firewall.direction %></td>
                        <td><%= firewall.protocol %></td>
                        <td><%= firewall.comment %></td>
                        <td class="actions">
                            <button class="edit-firewall-btn">Edit</button>
                            <button class="delete-firewall-btn">Delete</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<div id="firewall-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modal-title">Add: Rule</h2>
            <span class="close-modal">&times;</span>
        </div>
        <div id="modal-body">
            <form id="firewall-form">
                <div class="firewall-box-flex">
                    <div class="firewall-box">
                        <div class="firewall-display">
                            <label>Enabled:</label>
                            <select name="on">
                                <option value="on">On</option>
                                <option value="off">Off</option>
                            </select><br>
                        </div>
                        <div class="firewall-display">
                            <label>Direction:</label>
                            <select name="direction">
                                <option value="in">In</option>
                                <option value="out">Out</option>
                            </select><br>
                        </div>
                        <div class="firewall-display">
                            <label>Type:</label>
                            <select name="type">
                                <option value="ACCEPT">ACCEPT</option>
                                <option value="DROP">DROP</option>
                                <option value="REJECT">REJECT</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="firewall-box">
                        <div class="firewall-display">
                            <label>Interfaces:</label>
                            <input type="text" name="interfaces" required><br>
                        </div>
                        <div class="firewall-display">
                            <label>Protocol:</label>
                            <select name="protocol">
                                <option value="http">HTTP</option>
                                <option value="https">HTTPS</option>
                                <option value="tcp">TCP</option>
                                <option value="udp">UDP</option>
                                <option value="icmp">ICMP</option>
                                <option value="igmp">IGMP</option>
                                <option value="ggp">GGP</option>
                                <option value="ipencap">IPENCAP</option>
                                <option value="st">ST</option>
                                <option value="egp">EGP</option>
                                <option value="igp">IGP</option>
                                <option value="pup">PUP</option>
                                <option value="hmp">HMP</option>
                                <option value="xns-idp">XNS-IDP</option>
                                <option value="rdp">RDP</option>
                                <option value="iso-tp4">ISO-TP4</option>
                                <option value="dccp">DCCP</option>
                                <option value="xtp">XTP</option>
                                <option value="ddp">DDP</option>
                                <option value="idr-cmtp">IDR-CMTP</option>
                                <option value="ipv6">IPV6</option>
                                <option value="ipv6-route">IPV6-ROUTE</option>
                                <option value="ipv6-frag">IPV6-FRAG</option>
                                <option value="idrp">IDRP</option>
                                <option value="rsvp">RSVP</option>
                                <option value="gre">GRE</option>
                                <option value="esp">ESP</option>
                                <option value="ah">AH</option>
                                <option value="skip">SKIP</option>
                                <option value="ipv6-icmp">IPV6-ICMP</option>
                                <option value="ipv6-nonxt">IPV6-NONXT</option>
                                <option value="ipv6-opts">IPV6-OPTS</option>
                                <option value="vmtp">VMTP</option>
                                <option value="eigrp">EIGRP</option>
                                <option value="ospf">OSPF</option>
                                <option value="ax.25">AX.25</option>
                                <option value="ipip">IPIP</option>
                                <option value="etherip">ETHERIP</option>
                                <option value="encap">ENCAP</option>
                                <option value="pim">PIM</option>
                                <option value="ipcomp">IPCOMP</option>
                                <option value="vrrp">VRRP</option>
                                <option value="l2tp">L2TP</option>
                                <option value="isis">ISIS</option>
                                <option value="sctp">SCTP</option>
                                <option value="dc">DC</option>
                                <option value="mobility-header">MOBILITY-HEADER</option>
                                <option value="udplite">UDPLITE</option>
                                <option value="mpls-in-ip">MPLS-IN-IP</option>
                                <option value="hip">HIP</option>
                                <option value="shim6">SHIM6</option>
                                <option value="wesp">WESP</option>
                                <option value="rohc">ROHC</option>
                            </select><br>
                        </div>
                        <div class="firewall-display">
                            <label>Comment:</label>
                            <input type="text" name="comment"></input><br>
                        </div>
                    </div>
                </div>
                <div class="firewall-display">
                    <input type="hidden" name="id" value="">
                    <button type="submit" style="padding: 5px 10px; background-color: #111217; border: 1px solid #2f3136; border-radius: 5px; cursor: pointer; color: #fff;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>