<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= __('web_title') %></title>

    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/img/logo.jpg" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
      defer
    ></script>

    <script src="/js/index.js"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="left">
        <span>dPanel</span>
      </div>
      <div class="right">
        <span><%= user.name %></span>
        <img src="/img/user.png" alt="logo" />
      </div>
    </div>
    <div class="main">
      <div class="sidebar">
        <a class="active" href="/admin"><i class="fas fa-home"></i></a>
        <a href="/"><i class="fas fa-key"></i></a>
        <a href="/"><i class="fas fa-database"></i></a>
        <a href="/admin/eggs"><i class="fas fa-egg"></i></a>
        <a href="/"><i class="fas fa-server"></i></a>
        <a href="/"><i class="fab fa-docker"></i></a>
        <a href="/admin/users"><i class="fas fa-user-friends"></i></a>
      </div>
      <div class="content">
        <div class="left-bar">
          <div class="leftbar-info">
            <div class="leftbar-icon">
              <img src="/img/logo.jpg" alt="logo" />
            </div>
            <span>Welcome to dPanel</span>
            <p>Version: Development</p>
          </div>
          <div class="leftbar-secound">
            <span class="leftbar-secound-title">OVERVIEW</span>
            <div class="leftbar-secound-item active">
              <a href="/">
                <i class="fas fa-laptop"></i>
                <h2 class="iphost"><%= iphost %></h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-tachometer-alt"></i>
                <h2>Dashboard</h2>
              </a>
            </div>
            <span class="leftbar-secound-title">MAIN</span>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-globe-americas"></i>
                <h2>Websites</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-network-wired"></i>
                <h2>DNS</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-paper-plane"></i>
                <h2>Email</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-cloud-upload-alt"></i>
                <h2>FTP</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="far fa-copy"></i>
                <h2>Back Up</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-user-shield"></i>
                <h2>SSL</h2>
              </a>
            </div>
          </div>
        </div>
        <div class="right-bar">
          <div class="stats">
            <div class="stats-boxing">
              <h4>Panel's Resources:</h4>
              <div class="stats-box accounts">
                <i class="fas fa-server"></i>
                <h4>Nodes</h4>
                <p>0</p>
              </div>
              <div class="stats-box servers">
                <i class="fab fa-docker"></i>
                <h4>Servers</h4>
                <p>0</p>
              </div>
              <div class="stats-box ram">
                <a href="/admin/eggs">
                  <i class="fas fa-egg"></i>
                  <h4>Eggs</h4>
                  <p><%= eggsdown %></p>
                </a>
              </div>
              <div class="stats-box cpu">
                <a href="/admin/users">
                  <i class="fas fa-user-friends"></i>
                  <h4>Users</h4>
                  <p><%= index_user %></p>
                </a>
              </div>
            </div>
          </div>
          <div class="dashboard">
            <h1>Welcome back, <%= user.name %></h1>
            <h3>It's great to see you again!</h3>

            <div class="expand">
              <div class="section">
                <div class = "section-item-left">
                  <i class="fas fa-code"></i>
                  <h2>Information for Developers</h2>
                </div>
                <div class = "section-item-right">
                  <button class="button create-issue">
                    <a href="https://github.com/dpaneldev/dPanel/issues"> 
                      <i class="fab fa-github"></i> Create Issues
                    </a>
                  </button>
                  <button class="button discuss-features">
                    <a href="https://github.com/dpaneldev/dPanel/discussions"> 
                      <i class="fab fa-github"></i> Discuss Features
                    </a>
                  </button>
                  <button class="expand-button" onclick="toggleExpand(this)"><i class="fas fa-angle-down"></i></button>
                </div> 
              </div>
              <div class="section">
                <div class = "section-item-left">
                  <i class="fas fa-heart color-heart"></i>
                  <h2>Support dPanel</h2>
                </div>
                <div class = "section-item-right">
                  <button class="button help-translate"><i class="fas fa-globe"></i> Help Translate</button>
                  <button class="button donate-directly"><i class="fas fa-money-bill-wave"></i> Donate Directly</button>
                  <button class="expand-button" onclick="toggleExpand(this)"><i class="fas fa-angle-down"></i></button>
                </div>
              </div>
              <div class="section"> 
                <div class = "section-item-left">
                  <i class="fas fa-question"></i>
                  <h2>Need Help? </h2>
                </div>
                <div class = "section-item-right">
                  <button class="button read-documentation"><i class="fas fa-ship"></i> Read Documentation</button>
                  <button class="button get-help-discord"><i class="fab fa-discord"></i> Get help in Discord</button>
                  <button class="expand-button" onclick="toggleExpand(this)"><i class="fas fa-angle-down"></i></button>
                </div>
              </div>
            </div>
            
            <div class="display-flex">
              <div class="notification-box">
                <h4>Notifications</h4>
                <div class="notification-item">
                  <p>
                    <strong>New Feature Release: </strong>
                    A new update is available
                  </p>
                  <span class="timestamp">Just now</span>
                </div>
              </div>

              <div class="activity-box">
                <h4>Activity</h4>
                <div class="activity-item">
                  <p>
                    <strong>@Admin1 </strong>
                    Created a new node
                  </p>
                  <span class="timestamp">Just now</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
