<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= __('web_title') %></title>

    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/dashboard-user.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/img/logo.jpg" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
      defer
    ></script>

    <script src="/js/index.js"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="left">
        <span>dPanel</span>
      </div>
      <div class="right">
        <span><%= user.name %></span>
        <img src="/img/user.png" alt="logo" />
      </div>
    </div>
    <div class="main">
      <div class="sidebar">
        <a href="/admin"><i class="fas fa-home"></i></a>
        <a href="/"><i class="fas fa-key"></i></a>
        <a href="/"><i class="fas fa-database"></i></a>
        <a href="/admin/eggs"><i class="fas fa-egg"></i></a>
        <a href="/"><i class="fas fa-server"></i></a>
        <a href="/"><i class="fab fa-docker"></i></a>
        <a  class="active"  href="/admin/users"><i class="fas fa-user-friends"></i></a>
      </div>
      <div class="content">
        <div class="left-bar">
          <div class="leftbar-info">
            <div class="leftbar-icon">
              <img src="/img/logo.jpg" alt="logo" />
            </div>
            <span>Welcome to dPanel</span>
            <p>Version: Development</p>
          </div>
          <div class="leftbar-secound">
            <span class="leftbar-secound-title">OVERVIEW</span>
            <div class="leftbar-secound-item active">
              <a href="/">
                <i class="fas fa-laptop"></i>
                <h2 class="iphost"><%= iphost %></h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-tachometer-alt"></i>
                <h2>Dashboard</h2>
              </a>
            </div>
            <span class="leftbar-secound-title">MAIN</span>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-globe-americas"></i>
                <h2>Websites</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-network-wired"></i>
                <h2>DNS</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-paper-plane"></i>
                <h2>Email</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-cloud-upload-alt"></i>
                <h2>FTP</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="far fa-copy"></i>
                <h2>Back Up</h2>
              </a>
            </div>
            <div class="leftbar-secound-item">
              <a href="/">
                <i class="fas fa-user-shield"></i>
                <h2>SSL</h2>
              </a>
            </div>
          </div>
        </div>
        <div class="right-bar">
          <div class="stats">
            <div class="stats-boxing">
              <h4>Panel's Resources:</h4>
              <div class="stats-box accounts">
                <i class="fas fa-server"></i>
                <h4>Nodes</h4>
                <p>0</p>
              </div>
              <div class="stats-box servers">
                <i class="fab fa-docker"></i>
                <h4>Servers</h4>
                <p>0</p>
              </div>
              <div class="stats-box ram">
                <i class="fas fa-egg"></i>
                <h4>Eggs</h4>
                <p>0</p>
              </div>
              <div class="stats-box cpu">
                <a href="/admin/users">
                  <i class="fas fa-user-friends"></i>
                  <h4>Users</h4>
                  <p><%= index_user %></p>
                </a>
              </div>
            </div>
          </div>
            <div class="table">
                <div class="table-title" style="display: flex; justify-content: space-between;align-items: center; font-size: 12px; font-weight: 300; margin-left: 10px; margin-top: 10px; margin-right: 10px; color: #b4b7b9;">
                    <div style="display: flex; align-items: center;">
                        <h2 style="font-weight: 400;">Users</h2>
                        <i class="fas fa-chevron-right" style="margin-left: 10px; margin-right: 10px;"></i>
                        <h2 style="font-weight: 400;">Lists</h2>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <button class="btn btn-primary" style="color: #acd3f7; padding: 5px; border-radius: 5px; border: 1px solid #acd3f72c; background-color: #acd3f71c; cursor: pointer;">Create User</button>
                    </div>
                </div>
                <div class="content-table">
                    <table>
                        <thead>
                            <tr>
                                <th class="first border-right"></th>
                                <th class="border-right">Username</th>
                                <th class="border-right">Email</th>
                                <th class="border-right center">Admin</th>
                                <th class="border-right center">2FA</th>
                                <th class="border-right center">Servers</th>
                                <th class="last center">Verify</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                                <tr>
                                    <td class="border-right border-top"><i class="fas fa-cog" style="display: flex; justify-content: center; cursor: pointer; color: #acd3f7;"></i></td>
                                    <td class="border-right border-top"><%= user.name %></td>
                                    <td class="border-right border-top"><%= user.email %></td>
                                    <td class="border-right border-top center">
                                        <% if (user.admin) { %>
                                            <i class="far fa-star" style="color: #31df2163; font-size: 18px;"></i>
                                        <% } else { %>
                                            <i class="fas fa-star" style="color: #dd1c1c63; font-size: 18px;"></i>
                                        <% } %>
                                    </td>
                                    <td class="border-right border-top center">
                                        <% if (user.twofa === "1") { %>
                                            <i class="fas fa-lock" style="color: #31df2163; font-size: 18px;"></i>
                                        <% } else { %>
                                            <i class="fas fa-unlock" style="color: #dd1c1c63; font-size: 18px;"></i>
                                        <% } %>
                                    </td>
                                    <td class="border-right border-top center" style="color: #626466;"><i class="fas fa-server" style="margin-right: 5px; color: #b4b7b9;"></i> <%= user.serversCount %></td>
                                    <td class="border-top center">
                                        <% if (user.verify === "1") { %>
                                            <i class="fas fa-user-check" style="color: #31df2163; font-size: 18px;"></i>
                                        <% } else { %>
                                            <i class="fas fa-user-times" style="color: #dd1c1c63; font-size: 18px;"></i>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
