<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= __('web_title_register') %></title>

    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/img/logo.jpg" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    <% if (message_err.length > 0) { %>
      <div id="notification-container">
        <% message_err.forEach(msg => { %>
          <div class="notification-err"><%= msg %></div>
        <% }) %>
      </div>
    <% } %>
    <% if (message_succ.length > 0) { %>
      <div id="notification-container">
        <% message_succ.forEach(msg => { %>
          <div class="notification-succ"><%= msg %></div>
        <% }) %>
      </div>
    <% } %>
    <div class="login-form">
      <form class="user-form" action="/register" method="POST">
        <div class="formater">
          <div class="logo">
            <img src="/img/logo.jpg" alt="dPanel" />
          </div>
          <div class="title"><%= __('register_title') %></div>
          <label for="">
            <input
              class="margin"
              type="text"
              name="name"
              placeholder="<%= __('login_name') %>"
              required
            />
          </label>
          <label for="">
            <input
              class="margin"
              type="email"
              name="email"
              required
              placeholder="<%= __('register_email') %>"
            />
          </label>
          <div class="password-container">
            <label for="">
              <input
                class="margin"
                type="password"
                name="password"
                required
                placeholder="<%= __('register_password') %>"
                id="password"
              />
              <button
                id="toggle"
                type="button"
                onclick="togglePasswordVisibility()"
              >
                <i class="far fa-eye"></i>
              </button>
            </label>
          </div>
          <div class="buttons">
            <button type="submit"><%= __('register_button') %></button>
          </div>
          <div class="oauth">
            <a href="/_auth/discord" class="discord">
              <i class="fab fa-discord"></i>
            </a>
            <a href="/_auth/google" class="google">
              <i class="fab fa-google"></i>
            </a>
            <a href="/_auth/github" class="github">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </form>
      <div class="newuser">
        <div class="formater-newuser">
          <p><%= __('register_have_account') %></p>
          <span>
            <a href="/login"><%= __('register_sign_in') %></a>
          </span>
        </div>
      </div>
      <div class="copyright">
        <p>© 2024 dPanel.dev. All rights reserved.</p>
      </div>
    </div>
    <script>
      function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var toggleButton = document.getElementById("toggle");
        var icon = toggleButton.querySelector("i");

        if (passwordField.type === "password") {
          passwordField.type = "text";
          icon.classList.remove("fa-eye");
          icon.classList.add("fa-eye-slash");
        } else {
          passwordField.type = "password";
          icon.classList.remove("fa-eye-slash");
          icon.classList.add("fa-eye");
        }
      }
    </script>
  </body>
</html>
